#root {
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
}

.containerColor {
  background-color: #FCBF8D;
  padding: 10px;
  border-radius: 15px;
}

.cardBodyColor {
  background-color: #8DCAFC;
}
