#root {
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
}

.containerColor {
  background-color: #FCBF8D;
  padding: 10px;
  border-radius: 15px;
  
}

.containerDetail {
  background-color: #FCBF8D;
  padding: 10px;
  border-radius: 15px;
  display: flex;
  align-items: center;
}

.cardBodyColor {
  background-color: #8DCAFC;

}

.cardDetail {
  background-color: #8DCAFC;
  text-align: center;
  border-radius: 15px;
  
}

.imgDetail {
  border-radius: 10px;
}

.btnContainer {
  padding-bottom: 10px;
}